{% extends 'base.html.twig' %}

{% block body %}
	<div id="page">
		<div class="container">
			<div class="row skel-cell-important" id="content">
				<div class="12u">
					<section>
						<div class="resume">
							<h2>Resume</h2>
							<br>
							<br>
								<p class="subtitle">{{TECH}}</p>
								{% for cat in category %}
									<div class="tech">
										<p><span>{{cat.name}}</span></p>
										<ul class = 'style7'>
										    {% for item in software if item.categoryId.id == cat.id %}
										        <li>{{item.name}} {% if item.version is not null %} ({{item.version}}) {% endif %} </li>
										    {% endfor %}
										</ul>
									</div>
								{% endfor %}
							<br>
							<div class='pro'>
								<p>&nbsp;</p>
								<p class="subtitle">{{PRO}}</p>
								{% for emp in employer|reverse %}
									<p>
										<strong>{{emp.name|upper}}</strong>
										{% if date(emp.start) > date(emp.end) %}
											(Current)
										{% else %}
										({{emp.start|date('Y')}} - {{emp.end|date('Y')}})
										{% endif %}
										</p>
									<p>{{emp.title}}</p>
									<br>
									<ul class = 'style8'>
										{% for rep in responsibility if rep.employerId.id == emp.id %}
											<li>{{rep.responsibility}}</li>
										{% endfor %}
									</ul>
									<br>
								{% endfor %}
								<p class="subtitle">{{ED}}</p>
								<p>Bachelor of Arts (BA) in Business &amp; Behavioral Science, Oglethorpe University<br></p>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
